body {
	margin: 0;
  background: rgba(255, 255, 255, 0.651); 
  position: relative;
}
.title {
	margin-left:45px ;
	margin-bottom: 0;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.inner {
	font-family: "Trebuchet MS", sans-serif;
  margin-top: 45px;
  margin-bottom: 60px;
  margin-left: 45px;
  margin-right: 45px;
}
.heading {
  font-size: 20px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
}
.text {
  font-size: 13px;
	font-family: "Trebuchet MS", sans-serif; 
  font-weight: 500;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(27, 149, 230);
}

.block {
  background-color: cornsilk;
}
body::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #000;
  opacity: 0.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.block {
  display: flex;
}
img {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
